{% extends 'base.html' %}

{% block title %}Дискографія{% endblock %}

{% block content %}
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Наші Альбоми</h1>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('create_album') }}" class="btn">+ Додати альбом</a>
        {% endif %}
    </div>

    <div class="albums-grid">
        {% for album in albums %}
            <div class="album-card">
                <a href="{{ url_for('album_detail', id=album.id) }}">
                    <img src="{{ album.cover_image }}" class="album-cover" alt="Cover">
                </a>

                <h3>{{ album.title }}</h3>
                <p style="color: gray;">{{ album.release_date.strftime('%d.%m.%Y') }}</p>

                {% if current_user.is_authenticated %}
                    <div style="margin-top: 15px;">
                        <a href="{{ url_for('edit_album', id=album.id) }}" style="font-size: 0.9em; margin-right: 10px;">Ред.</a>
                        <a href="{{ url_for('delete_album', id=album.id) }}" style="color: #e91429; font-size: 0.9em;" onclick="return confirm('Видалити?')">Видалити</a>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <p>Альбомів поки немає.</p>
        {% endfor %}
    </div>
{% endblock %}