{% extends 'base.html' %}

{% block title %}Редагувати альбом{% endblock %}

{% block content %}
<h2>Редагувати альбом</h2>

<form method="POST">
    <p>
        <label>Назва альбому:</label><br>
        <input type="text" name="title" value="{{ album.title }}" required>
    </p>
    <p>
        <label>Рік випуску:</label><br>
        <input type="number" name="year" value="{{ album.year }}" required>
    </p>
    <p>
        <label>Опис:</label><br>
        <textarea name="description" rows="5">{{ album.description }}</textarea>
    </p>
    <p>
        <label>Посилання на обкладинку (URL):</label><br>
        <input type="url" name="cover" value="{{ album.cover_image }}" required>
    </p>
    
    <button type="submit">Оновити альбом</button>
</form>
{% endblock %}